<!-- system-covid-report-settings.html - Pika CMS (C) Pika Software |  http://pikasoftware.com // Modified February 2020 By Metatheria, LLC | https://metatheria.solutions -->
<div style="padding:5px;" id="form_container">
	<div style="float:left;padding:5px" id="form_col1" class="de">
		<form method="POST" autocomplete="off">

			<h2>LSC Covid Report Settings</h2>
                        
                        <p>Hold down ctrl while clicking to select multiple values.</p>

			<p>Please note, while a single LSC code may map to multiple Pika codes, there should not be any overlap between the mappings, or the report will not run correctly.</p>

			LSC Covid Supplemental Fund Code (select one)<br>
                        %%[lsc_covid_supplemental_fund_code,funding]%%<br>
                        Other LSC Fund Codes (select multiple)<br>
                        %%[other_lsc_codes_list,funding,multiselect,noblank]%%<br>
                        PAI Office Codes List (select multiple)<br>
                        %%[pai_office_codes_list,office,multiselect,noblank]%%<br>
                        Gender Codes - Men (select one)<br>
                        %%[men_code,gender]%%<br>
                        Gender Codes - Women (select one)<br>
                        %%[women_code,gender]%%<br>
                        Gender Codes - Other (select multiple) <br>
                        %%[other_gender_codes_list,gender,multiselect,noblank]%%<br>
                        Asian (Non-Hispanic) Codes List (select multiple)<br>
                        %%[asian_codes_list,ethnicity,multiselect,noblank]%%<br>
                        Black (Non-Hispanic) Codes List(select multiple)<br>
                        %%[black_codes_list,ethnicity,multiselect,noblank]%%<br>
                        Hispanic Codes List (select multiple)<br>
                        %%[hispanic_codes_list,ethnicity,multiselect,noblank]%%<br>
                        Native American (Non-Hispanic) Codes List (select multiple)<br>
                        %%[native_codes_list,ethnicity,multiselect,noblank]%%<br>
                        Other Ethnicity Codes List (select multiple)<br>
                        %%[other_codes_list,ethnicity,multiselect,noblank]%%<br>
                        White (Non-Hispanic) Codes List (select multiple)<br>
                        %%[white_codes_list,ethnicity,multiselect,noblank]%%<br>
                        Closing Code A: Counsel and Advice<br>
                        %%[close_a_list,close_code_2008,multiselect,noblank]%%<br>
                        Closing Code B: Limit Action<br>
                        %%[close_b_list,close_code_2008,multiselect,noblank]%%<br>
                        Closing Code F: Negot Settlement w/o Litig.<br>
                        %%[close_f_list,close_code_2008,multiselect,noblank]%%<br>
                        Closing Code G: Negot Settlement w/ Litig.<br>
                        %%[close_g_list,close_code_2008,multiselect,noblank]%%<br>
                        Closing Code H: Administrative Agency Decision<br>
                        %%[close_h_list,close_code_2008,multiselect,noblank]%%<br>
                        Closing Code Ia: Court Decision Uncontested<br>
                        %%[close_ia_list,close_code_2008,multiselect,noblank]%%<br>
                        Closing Code Ib: Court Decision Contested<br>
                        %%[close_ib_list,close_code_2008,multiselect,noblank]%%<br>
                        Closing Code Ic: Court Decision Appeals<br>
                        %%[close_ic_list,close_code_2008,multiselect,noblank]%%<br>
                        Closing Code K: Other Closure Method<br>
                        %%[close_k_list,close_code_2008,multiselect,noblank]%%<br>
                        Closing Code L: Extensive Services<br>
                        %%[close_l_list,close_code_2008,multiselect,noblank]%%<br> 

			%%[action,input_hidden,default=update]%%
			<input class="btn btn-primary" type="submit" name="gen" value="Save" class="save" tabindex="1" />

		</form>
	</div>
</div>